
<mat-dialog-content class="mat-typography">
  <mat-card-content>
    <mat-card-title  mat-dialog-title style="margin-top: 20px; margin-bottom: 50px;">Criar Senha de Segurança</mat-card-title>

    <div>
      <mat-form-field>
        <input matInput placeholder="Senha"  value="" [type]="hide ? 'password' : 'text'" autocomplete="doNotAutoComplete" appBlockCopyPaste  />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? 'visibility' : 'visibility_off'
        }}</mat-icon>
      </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Confirmar Senha" value=""  [type]="hide ? 'password' : 'text'" autocomplete="doNotAutoComplete" appBlockCopyPaste  />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? 'visibility' : 'visibility_off'
            }}</mat-icon>
          </mat-form-field>
          <div align="end">

            <mat-dialog-actions align="end" >
              <button mat-button mat-dialog-close>Fechar</button>
              <button mat-button [mat-dialog-close]="true" color="warn" cdkFocusInitial>Concluir</button>
            </mat-dialog-actions>
     
      <button  mat-raised-button color="warn" a  matSuffix ></button></div>
    </div>
  </mat-card-content>
</mat-dialog-content>
