.tasklist {
  .task-item {
    padding: 16.5px;
    cursor: pointer;

    &.active {
      background-color: #e9ecef;
    }
  }
}

button:focus {
  outline: none;
}

.todo-item {
  position: relative;
  .edit-view {
    position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
    top: -4px;
  }
}
