<mat-card>
  <mat-card-content>
    <mat-card-title>My transactions</mat-card-title>
    <mat-card-subtitle>Summary by Type</mat-card-subtitle>
    <div
      id="visitor-chart"
      class="d-flex flex-column justify-content-center m-auto"
    >
      <apx-chart
        [series]="VisitorChartOptions?.series"
        [chart]="VisitorChartOptions?.chart"
        [labels]="VisitorChartOptions?.labels"
        [responsive]="VisitorChartOptions?.responsive"
        [tooltip]="VisitorChartOptions?.tooltip"
        [legend]="VisitorChartOptions?.legend"
        [colors]="VisitorChartOptions?.colors"
        [dataLabels]="VisitorChartOptions?.dataLabels"
        [plotOptions]="VisitorChartOptions?.plotOptions"
        [stroke]="VisitorChartOptions?.stroke"
      >
      </apx-chart>
    </div>
  </mat-card-content>
  <hr />
  <mat-card-content>
    <ul class="list-inline text-center"   *ngFor="let nameG of nameGroupedMy">
      <li  *ngFor="let nameG of nameGroupedMy;let i = index" [attr.data-index]="i">
        <h6 class="text-muted {{text_color[i]}} m-0">
          <i class="fa fa-circle font-10 m-r-10"></i>{{nameG}}
        </h6>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
