<!-- ============================================================== -->
<!-- Card Group Row -->
<!-- ============================================================== -->
<h3 fxLayout="row wrap"></h3>
<app-top-card2></app-top-card2>
<!-- ============================================================== -->
<!-- Chart boxes -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <app-sales-purchase-user></app-sales-purchase-user>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-md="66.66" fxFlex.gt-xs="100" fxFlex="100">
    <app-visitor-user></app-visitor-user>
  </div>
  <!-- column -->
  <!-- column
  <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <app-sales-yearly></app-sales-yearly>
  </div> -->
  <!-- column -->

  <!-- column -->
</div>
