<mat-card>
  <mat-card-content>
    <div class="mb-1">
      <h1 class="mt-0">
       <!-- Histórico de Transações-->
      </h1>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex.gt-xs="50" fxFlex="100">
        <h4 class="text-danger font-bold">Quantidade Transações Realizadas</h4>
        <div fxLayout="column">
          <span>2500</span>
        </div>
      </div>
      <div fxFlex.gt-xs="50" fxFlex="100">
        <h4 class="text-danger font-bold">Valor Transações</h4>
        <div fxLayout="column">
          <span>500</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
